In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
rating_path = 'dataset/ratings_small.csv'
movie_path = 'dataset/movies_metadata.csv'

ratings = pd.read_csv(rating_path)
movies = pd.read_csv(movie_path)

movies.head()

C:\Users\8613902476582\AppData\Local\Temp\ipykernel_27748\1292311757.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv(movie_path)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
desired_columns = ['id', 'title', 'genres']
movies_refined = movies.loc[:, desired_columns]
movies_refined.head()

,id,title,genres
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]"

In [5]:
movies_refined['genres'] = movies_refined['genres'].str.replace("'", '"')
movies_refined.head()

,id,title,genres
0,862,Toy Story,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""..."
1,8844,Jumanji,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,15602,Grumpier Old Men,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ..."
3,31357,Waiting to Exhale,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
4,11862,Father of the Bride Part II,"[{""id"": 35, ""name"": ""Comedy""}]"

In [6]:
def EDA_genres(genre):
    result = ''
    
    genre_list = json.loads(genre)
    
    for g in genre_list:
        result += g['name'] + ','
        
    return result[:-1]

In [7]:
movies_refined['AllGenres'] = movies_refined['genres'].apply(EDA_genres)
movies_refined.head()

,id,title,genres,AllGenres
0,862,Toy Story,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...","Animation,Comedy,Family"
1,8844,Jumanji,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Adventure,Fantasy,Family"
2,15602,Grumpier Old Men,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...","Romance,Comedy"
3,31357,Waiting to Exhale,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama,Romance"
4,11862,Father of the Bride Part II,"[{""id"": 35, ""name"": ""Comedy""}]",Comedy

In [8]:
movies_refined.duplicated(subset=['id', 'title']).sum()

30

#### It is a very very commen thing that movies have the same names
#### we only need to deal with duplicated IDs

In [9]:
movies_refined.duplicated(subset=['title', ]).sum()

3188

In [10]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [11]:
dup = movies_refined.duplicated(subset=['id', 'title'])
dup_movies = movies_refined[dup].sort_values(by='title')
dup_movies

,id,title,genres,AllGenres
15074,22649,A Farewell to Arms,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","Drama,Romance,War"
21116,84198,A Place at the Table,"[{""id"": 99, ""name"": ""Documentary""}]",Documentary
20843,77221,Black Gold,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...","Adventure,Drama"
13375,141971,Blackout,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...","Thriller,Mystery"
16764,141971,Blackout,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...","Thriller,Mystery"
23044,25541,Brotherhood,"[{""id"": 18, ""name"": ""Drama""}]",Drama
12066,14788,Bubble,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...","Drama,Crime,Mystery"
23534,110428,Camille Claudel 1915,"[{""id"": 18, ""name"": ""Drama""}]",Drama
40040,298721,Cemetery of Splendour,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 14, ""name...","Drama,Fantasy"
33743,15028,Clockstoppers,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...","Adventure,Family,Science Fiction,Thriller"
33826,4912,Confessions of a Dangerous Mind,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...","Comedy,Crime,Drama,Romance,Thriller"
22151,18440,Days of Darkness,"[{""id"": 28, ""name"": ""Action""}, {""id"": 27, ""nam...","Action,Horror,Science Fiction"
24844,11115,Deal,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama"
45265,265189,Force Majeure,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama"
29374,42495,King Lear,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10769, ""n...","Drama,Foreign"
9165,5511,Le SamouraÃ¯,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...","Crime,Drama,Thriller"
28860,168538,"Nana, the True Key of Pleasure","[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","Drama,Comedy"
15765,13209,Offside,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","Drama,Comedy,Foreign"
44826,12600,PokÃ©mon 4Ever: Celebi - Voice of the Forest,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Adventure,Fantasy,Animation,Science Fiction,Fa..."
44821,10991,PokÃ©mon: Spell of the Unknown,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Adventure,Fantasy,Animation,Action,Family"
20899,109962,Rich and Famous,"[{""id"": 18, ""name"": ""Drama""}]",Drama
40276,97995,Seven Years Bad Luck,"[{""id"": 35, ""name"": ""Comedy""}]",Comedy
21854,152795,The Congress,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...","Drama,Science Fiction,Animation"
26625,69234,The Phantom of the Opera,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...","Drama,Horror,Music,Romance,TV Movie"
1465,105045,The Promise,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...","Drama,Romance"
21165,119916,The Tempest,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...","Fantasy,Drama,Science Fiction"
38871,99080,The Viking,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...","Action,Drama,Romance,Adventure"
9327,23305,The Warrior,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...","Adventure,Animation,Drama,Action,Foreign"
35798,159849,Why We Fight: Divide and Conquer,"[{""id"": 99, ""name"": ""Documentary""}]",Documentary
30001,132641,Wife,"[{""id"": 18, ""name"": ""Drama""}]",Drama

### very lucky

In [12]:
dup_ids = dup_movies['id']

for id in dup_ids:
    if id in ratings['movieId']:
        print(id)

In [13]:
movies_refined = movies_refined.drop_duplicates()
movies_refined.duplicated(subset=['id', 'title']).sum()

0

In [14]:
movies_refined.isnull().sum().sort_values()

id           0
genres       0
AllGenres    0
title        6
dtype: int64

In [15]:
movies_refined = movies_refined.fillna('')
movies_refined.isnull().sum().sort_values()

id           0
title        0
genres       0
AllGenres    0
dtype: int64

In [18]:
# movies_refined.to_csv('dataset/movies_refined.csv', index=False)

In [18]:
unique_movie_id = ratings.movieId.unique().tolist()
len(unique_movie_id)

9066

In [20]:
sample_ids = np.random.choice(unique_movie_id, size=5000, replace=False)
ratings_5000 = ratings[ratings['movieId'].isin(sample_ids)]
ratings_5000.head()

    userId  movieId  rating   timestamp
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
11       1     1405     1.0  1260759203

In [25]:
movies_5000 = movies_refined[movies_refined['id'].isin(sample_ids)]
movies_5000.head()

Empty DataFrame
Columns: [id, title, genres, AllGenres]
Index: []

In [27]:
unique_id_for_movies = movies_refined['id'].unique().tolist()
len(unique_id_for_movies)

45436

In [28]:
sample_ids_for_movies = np.random.choice(unique_id_for_movies, size=5000, replace=False)
movies_5000 = movies_refined[movies_refined['id'].isin(sample_ids_for_movies)]
movies_5000.head()

,id,title,genres,AllGenres
3,31357,Waiting to Exhale,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama,Romance"
10,9087,The American President,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama,Romance"
18,9273,Ace Ventura: When Nature Calls,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","Crime,Comedy,Adventure"
22,9691,Assassins,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","Action,Adventure,Crime,Thriller"
37,33689,It Takes Two,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10751, ""...","Comedy,Family,Romance"

In [30]:
movies_5000 = movies_5000.reset_index(drop=True)
movies_5000.head()

,id,title,genres,AllGenres
0,31357,Waiting to Exhale,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama,Romance"
1,9087,The American President,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","Comedy,Drama,Romance"
2,9273,Ace Ventura: When Nature Calls,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...","Crime,Comedy,Adventure"
3,9691,Assassins,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","Action,Adventure,Crime,Thriller"
4,33689,It Takes Two,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10751, ""...","Comedy,Family,Romance"

In [31]:
movies_5000.to_csv('dataset/movies_5000.csv', index=False)
ratings_5000.to_csv('dataset/ratings_5000.csv', index=False)