In [5]:
import pandas as pd
import numpy as np
import json
import random

In [6]:
keyword_path = 'data/kaggle_movie/keywords.csv'
rating_path = 'data/kaggle_movie/ratings_small.csv'  # ratings_small is big enough
movie_path = 'data/kaggle_movie/movies_metadata.csv'

keywords = pd.read_csv(keyword_path)
ratings = pd.read_csv(rating_path)
movies = pd.read_csv(movie_path)

movies.head()

/home/marin/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3194: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [7]:
desired_columns = ['id', 'title', 'genres']
movies_refined = movies.loc[:, desired_columns]
movies_refined.head()

,id,title,genres
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]"

In [8]:
movies_refined['genres'] = movies_refined['genres'].str.replace("'", '"')
movies_refined.head()

,id,title,genres
0,862,Toy Story,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""..."
1,8844,Jumanji,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,15602,Grumpier Old Men,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ..."
3,31357,Waiting to Exhale,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam..."
4,11862,Father of the Bride Part II,"[{""id"": 35, ""name"": ""Comedy""}]"

In [9]:
def EDA_genres(genres):
    genre_list = json.loads(genres)
    
    all_genres = ','.join(genre['name'] for genre in genre_list)
        
    return all_genres

In [10]:
movies_refined['AllGenres'] = movies_refined['genres'].apply(EDA_genres)
movies_refined.drop(['genres', ], axis=1, inplace=True)
movies_refined.head()

      id                        title                 AllGenres
0    862                    Toy Story   Animation,Comedy,Family
1   8844                      Jumanji  Adventure,Fantasy,Family
2  15602             Grumpier Old Men            Romance,Comedy
3  31357            Waiting to Exhale      Comedy,Drama,Romance
4  11862  Father of the Bride Part II                    Comedy

In [11]:
movies_refined.duplicated(subset=['id', 'title']).sum()

30

In [12]:
print(keywords['id'].dtypes)
print(movies_refined['id'].dtypes)
print(ratings['movieId'].dtypes)

int64
object
int64

In [13]:
keywords['id'] = keywords['id'].astype(str)
movies_refined['id'] = movies_refined['id'].astype(str)
ratings['movieId'] = ratings['movieId'].astype(str)

In [14]:
dup = movies_refined.duplicated(subset=['id', 'title'])
dup_movies = movies_refined[dup].sort_values(by=['title', ])
dup_movies

,id,title,AllGenres
15074,22649,A Farewell to Arms,"Drama,Romance,War"
21116,84198,A Place at the Table,Documentary
20843,77221,Black Gold,"Adventure,Drama"
13375,141971,Blackout,"Thriller,Mystery"
16764,141971,Blackout,"Thriller,Mystery"
23044,25541,Brotherhood,Drama
12066,14788,Bubble,"Drama,Crime,Mystery"
23534,110428,Camille Claudel 1915,Drama
40040,298721,Cemetery of Splendour,"Drama,Fantasy"
33743,15028,Clockstoppers,"Adventure,Family,Science Fiction,Thriller"
33826,4912,Confessions of a Dangerous Mind,"Comedy,Crime,Drama,Romance,Thriller"
22151,18440,Days of Darkness,"Action,Horror,Science Fiction"
24844,11115,Deal,"Comedy,Drama"
45265,265189,Force Majeure,"Comedy,Drama"
29374,42495,King Lear,"Drama,Foreign"
9165,5511,Le Samouraï,"Crime,Drama,Thriller"
28860,168538,"Nana, the True Key of Pleasure","Drama,Comedy"
15765,13209,Offside,"Drama,Comedy,Foreign"
44826,12600,Pokémon 4Ever: Celebi - Voice of the Forest,"Adventure,Fantasy,Animation,Science Fiction,Fa..."
44821,10991,Pokémon: Spell of the Unknown,"Adventure,Fantasy,Animation,Action,Family"
20899,109962,Rich and Famous,Drama
40276,97995,Seven Years Bad Luck,Comedy
21854,152795,The Congress,"Drama,Science Fiction,Animation"
26625,69234,The Phantom of the Opera,"Drama,Horror,Music,Romance,TV Movie"
1465,105045,The Promise,"Drama,Romance"
21165,119916,The Tempest,"Fantasy,Drama,Science Fiction"
38871,99080,The Viking,"Action,Drama,Romance,Adventure"
9327,23305,The Warrior,"Adventure,Animation,Drama,Action,Foreign"
35798,159849,Why We Fight: Divide and Conquer,Documentary
30001,132641,Wife,Drama

### Very lucky:

In [15]:
for id_ in dup_movies['id']:
    if id_ in ratings['movieId']:
        print(f'ID: {id_} is in ratings.csv', end=', ')
    if id_ in keywords['id']:
        print(f'ID: {id_} is in keywords.csv', end=', ')

In [16]:
movies_refined = movies_refined.drop_duplicates(subset=['id', 'title'])
movies_refined.duplicated(subset=['id', 'title']).sum()

0

In [17]:
movies_refined.isnull().sum().sort_values()

id           0
AllGenres    0
title        6
dtype: int64

In [18]:
movies_refined = movies_refined.dropna(subset=['title', ])
movies_refined.isnull().sum().sort_values()

id           0
title        0
AllGenres    0
dtype: int64

## Now process keywords:

In [19]:
keywords_movie_id = keywords['id'].unique().tolist()
len(keywords_movie_id)

45432

In [20]:
movies_with_keywords = movies_refined[movies_refined['id'].isin(keywords_movie_id)]
print(movies_with_keywords.shape[0])

45429

In [21]:
# check the datatype of the "keywords" column
print(keywords.iloc[1]['keywords'])

[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': "based on children's book"}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]

In [22]:
def EDA_keywords(keywords):
    try:
        keywords_list = json.loads(keywords)
        
        keywords_num = len(keywords_list)
        if keywords_num > 4:
            keywords_list = random.sample(keywords_list, 4)
            
        all_keywords = ','.join(keyword['name'] for keyword in keywords_list)
        return all_keywords
    
    except json.JSONDecodeError as e:
        print(f"Error parsing JSON: {e}")
        return ''

In [23]:
keywords['keywords'] = keywords['keywords'].str.replace("'", '"')

keywords['AllKeywords'] = keywords['keywords'].apply(EDA_keywords)
keywords.head()

Error parsing JSON: Expecting ',' delimiter: line 1 column 120 (char 119)
Error parsing JSON: Expecting ',' delimiter: line 1 column 62 (char 61)
Error parsing JSON: Expecting ',' delimiter: line 1 column 265 (char 264)
Error parsing JSON: Expecting ',' delimiter: line 1 column 140 (char 139)
Error parsing JSON: Expecting ',' delimiter: line 1 column 320 (char 319)
Error parsing JSON: Expecting ',' delimiter: line 1 column 220 (char 219)
Error parsing JSON: Invalid \escape: line 1 column 222 (char 221)
Error parsing JSON: Expecting ',' delimiter: line 1 column 182 (char 181)
Error parsing JSON: Expecting ',' delimiter: line 1 column 176 (char 175)
Error parsing JSON: Expecting ',' delimiter: line 1 column 173 (char 172)
Error parsing JSON: Expecting ',' delimiter: line 1 column 229 (char 228)
Error parsing JSON: Expecting ',' delimiter: line 1 column 100 (char 99)
Error parsing JSON: Invalid \escape: line 1 column 217 (char 216)
Error parsing JSON: Expecting ',' delimiter: line 1 column 149 (char 148)
Error parsing JSON: Invalid \escape: line 1 column 300 (char 299)
Error parsing JSON: Expecting ',' delimiter: line 1 column 332 (char 331)
Error parsing JSON: Expecting ',' delimiter: line 1 column 200 (char 199)
Error parsing JSON: Expecting ',' delimiter: line 1 column 314 (char 313)
Error parsing JSON: Expecting ',' delimiter: line 1 column 216 (char 215)
Error parsing JSON: Expecting ',' delimiter: line 1 column 157 (char 156)
Error parsing JSON: Expecting ',' delimiter: line 1 column 106 (char 105)
Error parsing JSON: Invalid \escape: line 1 column 196 (char 195)
Error parsing JSON: Expecting ',' delimiter: line 1 column 61 (char 60)
Error parsing JSON: Expecting ',' delimiter: line 1 column 222 (char 221)
Error parsing JSON: Expecting ',' delimiter: line 1 column 183 (char 182)
Error parsing JSON: Expecting ',' delimiter: line 1 column 65 (char 64)
Error parsing JSON: Expecting ',' delimiter: line 1 column 317 (char 316)
Error parsing JSON: Expecting ',' delimiter: line 1 column 132 (char 131)
Error parsing JSON: Expecting ',' delimiter: line 1 column 32 (char 31)
Error parsing JSON: Expecting ',' delimiter: line 1 column 481 (char 480)
Error parsing JSON: Expecting ',' delimiter: line 1 column 321 (char 320)
Error parsing JSON: Expecting ',' delimiter: line 1 column 147 (char 146)
Error parsing JSON: Expecting ',' delimiter: line 1 column 337 (char 336)
Error parsing JSON: Expecting ',' delimiter: line 1 column 134 (char 133)
Error parsing JSON: Expecting ',' delimiter: line 1 column 96 (char 95)
Error parsing JSON: Invalid \escape: line 1 column 438 (char 437)
Error parsing JSON: Expecting ',' delimiter: line 1 column 368 (char 367)
Error parsing JSON: Expecting ',' delimiter: line 1 column 214 (char 213)
Error parsing JSON: Invalid \escape: line 1 column 777 (char 776)
Error parsing JSON: Expecting ',' delimiter: line 1 column 683 (char 682)
Error parsing JSON: Expecting ',' delimiter: line 1 column 429 (char 428)
Error parsing JSON: Invalid \escape: line 1 column 233 (char 232)
Error parsing JSON: Expecting ',' delimiter: line 1 column 429 (char 428)
Error parsing JSON: Invalid \escape: line 1 column 652 (char 651)
Error parsing JSON: Expecting ',' delimiter: line 1 column 203 (char 202)
Error parsing JSON: Invalid \escape: line 1 column 552 (char 551)
Error parsing JSON: Expecting ',' delimiter: line 1 column 195 (char 194)
Error parsing JSON: Invalid \escape: line 1 column 249 (char 248)
Error parsing JSON: Expecting ',' delimiter: line 1 column 184 (char 183)
Error parsing JSON: Expecting ',' delimiter: line 1 column 68 (char 67)
Error parsing JSON: Expecting ',' delimiter: line 1 column 146 (char 145)
Error parsing JSON: Expecting ',' delimiter: line 1 column 107 (char 106)
Error parsing JSON: Expecting ',' delimiter: line 1 column 341 (char 340)
Error parsing JSON: Expecting ',' delimiter: line 1 column 64 (char 63)
Error parsing JSON: Expecting ',' delimiter: line 1 column 65 (char 64)
Error parsing JSON: Expecting ',' delimiter: line 1 column 117 (char 116)
Error parsing JSON: Expecting ',' delimiter: line 1 column 32 (char 31)
Error parsing JSON: Expecting ',' delimiter: line 1 column 172 (char 171)
Error parsing JSON: Expecting ',' delimiter: line 1 column 134 (char 133)
Error parsing JSON: Expecting ',' delimiter: line 1 column 131 (char 130)
Error parsing JSON: Expecting ',' delimiter: line 1 column 143 (char 142)
Error parsing JSON: Expecting ',' delimiter: line 1 column 212 (char 211)
Error parsing JSON: Expecting ',' delimiter: line 1 column 692 (char 691)
Error parsing JSON: Expecting ',' delimiter: line 1 column 106 (char 105)
Error parsing JSON: Expecting ',' delimiter: line 1 column 139 (char 138)
Error parsing JSON: Expecting ',' delimiter: line 1 column 69 (char 68)
Error parsing JSON: Invalid \escape: line 1 column 733 (char 732)
Error parsing JSON: Expecting ',' delimiter: line 1 column 109 (char 108)
Error parsing JSON: Invalid \escape: line 1 column 382 (char 381)
Error parsing JSON: Expecting ',' delimiter: line 1 column 524 (char 523)
Error parsing JSON: Expecting ',' delimiter: line 1 column 359 (char 358)
Error parsing JSON: Expecting ',' delimiter: line 1 column 76 (char 75)
Error parsing JSON: Expecting ',' delimiter: line 1 column 102 (char 101)
Error parsing JSON: Expecting ',' delimiter: line 1 column 166 (char 165)
Error parsing JSON: Expecting ',' delimiter: line 1 column 404 (char 403)
Error parsing JSON: Invalid \escape: line 1 column 286 (char 285)
Error parsing JSON: Expecting ',' delimiter: line 1 column 205 (char 204)
Error parsing JSON: Expecting ',' delimiter: line 1 column 72 (char 71)
Error parsing JSON: Invalid \escape: line 1 column 586 (char 585)
Error parsing JSON: Invalid \escape: line 1 column 824 (char 823)
Error parsing JSON: Expecting ',' delimiter: line 1 column 222 (char 221)
Error parsing JSON: Expecting ',' delimiter: line 1 column 602 (char 601)
Error parsing JSON: Expecting ',' delimiter: line 1 column 138 (char 137)
Error parsing JSON: Invalid \escape: line 1 column 216 (char 215)
Error parsing JSON: Expecting ',' delimiter: line 1 column 32 (char 31)
Error parsing JSON: Expecting ',' delimiter: line 1 column 497 (char 496)
Error parsing JSON: Expecting ',' delimiter: line 1 column 577 (char 576)
Error parsing JSON: Expecting ',' delimiter: line 1 column 208 (char 207)
Error parsing JSON: Expecting ',' delimiter: line 1 column 105 (char 104)
Error parsing JSON: Expecting ',' delimiter: line 1 column 71 (char 70)
Error parsing JSON: Expecting ',' delimiter: line 1 column 505 (char 504)
Error parsing JSON: Expecting ',' delimiter: line 1 column 258 (char 257)
Error parsing JSON: Expecting ',' delimiter: line 1 column 351 (char 350)
Error parsing JSON: Expecting ',' delimiter: line 1 column 682 (char 681)
Error parsing JSON: Expecting ',' delimiter: line 1 column 350 (char 349)
Error parsing JSON: Expecting ',' delimiter: line 1 column 416 (char 415)
Error parsing JSON: Invalid \escape: line 1 column 712 (char 711)
Error parsing JSON: Expecting ',' delimiter: line 1 column 106 (char 105)
Error parsing JSON: Invalid \escape: line 1 column 271 (char 270)
Error parsing JSON: Invalid \escape: line 1 column 370 (char 369)
Error parsing JSON: Expecting ',' delimiter: line 1 column 104 (char 103)
Error parsing JSON: Expecting ',' delimiter: line 1 column 105 (char 104)
Error parsing JSON: Expecting ',' delimiter: line 1 column 169 (char 168)
Error parsing JSON: Invalid \escape: line 1 column 72 (char 71)
Error parsing JSON: Expecting ',' delimiter: line 1 column 70 (char 69)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Expecting ',' delimiter: line 1 column 64 (char 63)
Error parsing JSON: Expecting ',' delimiter: line 1 column 63 (char 62)
Error parsing JSON: Expecting ',' delimiter: line 1 column 130 (char 129)
Error parsing JSON: Expecting ',' delimiter: line 1 column 97 (char 96)
Error parsing JSON: Invalid \escape: line 1 column 241 (char 240)
Error parsing JSON: Expecting ',' delimiter: line 1 column 107 (char 106)
Error parsing JSON: Expecting ',' delimiter: line 1 column 532 (char 531)
Error parsing JSON: Expecting ',' delimiter: line 1 column 107 (char 106)
Error parsing JSON: Expecting ',' delimiter: line 1 column 134 (char 133)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Expecting ',' delimiter: line 1 column 252 (char 251)
Error parsing JSON: Expecting ',' delimiter: line 1 column 167 (char 166)
Error parsing JSON: Invalid \escape: line 1 column 283 (char 282)
Error parsing JSON: Expecting ',' delimiter: line 1 column 76 (char 75)
Error parsing JSON: Expecting ',' delimiter: line 1 column 94 (char 93)
Error parsing JSON: Expecting ',' delimiter: line 1 column 146 (char 145)
Error parsing JSON: Expecting ',' delimiter: line 1 column 106 (char 105)
Error parsing JSON: Expecting ',' delimiter: line 1 column 95 (char 94)
Error parsing JSON: Expecting ',' delimiter: line 1 column 70 (char 69)
Error parsing JSON: Expecting ',' delimiter: line 1 column 70 (char 69)
Error parsing JSON: Expecting ',' delimiter: line 1 column 33 (char 32)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Expecting ',' delimiter: line 1 column 32 (char 31)
Error parsing JSON: Expecting ',' delimiter: line 1 column 145 (char 144)
Error parsing JSON: Expecting ',' delimiter: line 1 column 222 (char 221)
Error parsing JSON: Invalid \escape: line 1 column 98 (char 97)
Error parsing JSON: Expecting ',' delimiter: line 1 column 335 (char 334)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Expecting ',' delimiter: line 1 column 175 (char 174)
Error parsing JSON: Expecting ',' delimiter: line 1 column 223 (char 222)
Error parsing JSON: Invalid \escape: line 1 column 247 (char 246)
Error parsing JSON: Invalid \escape: line 1 column 238 (char 237)
Error parsing JSON: Invalid \escape: line 1 column 398 (char 397)
Error parsing JSON: Invalid \escape: line 1 column 129 (char 128)
Error parsing JSON: Expecting ',' delimiter: line 1 column 181 (char 180)
Error parsing JSON: Expecting ',' delimiter: line 1 column 94 (char 93)
Error parsing JSON: Expecting ',' delimiter: line 1 column 304 (char 303)
Error parsing JSON: Invalid \escape: line 1 column 394 (char 393)
Error parsing JSON: Expecting ',' delimiter: line 1 column 156 (char 155)
Error parsing JSON: Expecting ',' delimiter: line 1 column 90 (char 89)
Error parsing JSON: Invalid \escape: line 1 column 533 (char 532)
Error parsing JSON: Invalid \escape: line 1 column 386 (char 385)
Error parsing JSON: Expecting ',' delimiter: line 1 column 637 (char 636)
Error parsing JSON: Expecting ',' delimiter: line 1 column 95 (char 94)
Error parsing JSON: Invalid \escape: line 1 column 261 (char 260)
Error parsing JSON: Expecting ',' delimiter: line 1 column 261 (char 260)
Error parsing JSON: Invalid \escape: line 1 column 101 (char 100)
Error parsing JSON: Expecting ',' delimiter: line 1 column 134 (char 133)
Error parsing JSON: Expecting ',' delimiter: line 1 column 109 (char 108)
Error parsing JSON: Expecting ',' delimiter: line 1 column 76 (char 75)
Error parsing JSON: Expecting ',' delimiter: line 1 column 147 (char 146)
Error parsing JSON: Expecting ',' delimiter: line 1 column 190 (char 189)
Error parsing JSON: Expecting ',' delimiter: line 1 column 170 (char 169)
Error parsing JSON: Expecting ',' delimiter: line 1 column 310 (char 309)
Error parsing JSON: Expecting ',' delimiter: line 1 column 251 (char 250)
Error parsing JSON: Expecting ',' delimiter: line 1 column 135 (char 134)
Error parsing JSON: Expecting ',' delimiter: line 1 column 159 (char 158)
Error parsing JSON: Expecting ',' delimiter: line 1 column 735 (char 734)
Error parsing JSON: Expecting ',' delimiter: line 1 column 686 (char 685)
Error parsing JSON: Expecting ',' delimiter: line 1 column 68 (char 67)
Error parsing JSON: Expecting ',' delimiter: line 1 column 148 (char 147)
Error parsing JSON: Expecting ',' delimiter: line 1 column 179 (char 178)
Error parsing JSON: Expecting ',' delimiter: line 1 column 143 (char 142)
Error parsing JSON: Expecting ',' delimiter: line 1 column 198 (char 197)
Error parsing JSON: Expecting ',' delimiter: line 1 column 64 (char 63)
Error parsing JSON: Expecting ',' delimiter: line 1 column 109 (char 108)
Error parsing JSON: Expecting ',' delimiter: line 1 column 212 (char 211)
Error parsing JSON: Expecting ',' delimiter: line 1 column 286 (char 285)
Error parsing JSON: Expecting ',' delimiter: line 1 column 68 (char 67)
Error parsing JSON: Expecting ',' delimiter: line 1 column 238 (char 237)
Error parsing JSON: Expecting ',' delimiter: line 1 column 107 (char 106)
Error parsing JSON: Expecting ',' delimiter: line 1 column 439 (char 438)
Error parsing JSON: Expecting ',' delimiter: line 1 column 512 (char 511)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Expecting ',' delimiter: line 1 column 101 (char 100)
Error parsing JSON: Invalid \escape: line 1 column 220 (char 219)
Error parsing JSON: Expecting ',' delimiter: line 1 column 284 (char 283)
Error parsing JSON: Expecting ',' delimiter: line 1 column 156 (char 155)
Error parsing JSON: Expecting ',' delimiter: line 1 column 162 (char 161)
Error parsing JSON: Expecting ',' delimiter: line 1 column 146 (char 145)
Error parsing JSON: Invalid \escape: line 1 column 63 (char 62)
Error parsing JSON: Expecting ',' delimiter: line 1 column 208 (char 207)
Error parsing JSON: Expecting ',' delimiter: line 1 column 31 (char 30)
Error parsing JSON: Expecting ',' delimiter: line 1 column 108 (char 107)
Error parsing JSON: Expecting ',' delimiter: line 1 column 101 (char 100)
Error parsing JSON: Expecting ',' delimiter: line 1 column 139 (char 138)
Error parsing JSON: Expecting ',' delimiter: line 1 column 67 (char 66)
Error parsing JSON: Expecting ',' delimiter: line 1 column 131 (char 130)
Error parsing JSON: Expecting ',' delimiter: line 1 column 292 (char 291)
Error parsing JSON: Expecting ',' delimiter: line 1 column 137 (char 136)
Error parsing JSON: Expecting ',' delimiter: line 1 column 112 (char 111)
Error parsing JSON: Expecting ',' delimiter: line 1 column 30 (char 29)
Error parsing JSON: Expecting ',' delimiter: line 1 column 225 (char 224)
Error parsing JSON: Expecting ',' delimiter: line 1 column 154 (char 153)
Error parsing JSON: Expecting ',' delimiter: line 1 column 95 (char 94)
Error parsing JSON: Expecting ',' delimiter: line 1 column 80 (char 79)
Error parsing JSON: Expecting ',' delimiter: line 1 column 62 (char 61)
Error parsing JSON: Invalid \escape: line 1 column 100 (char 99)
Error parsing JSON: Invalid \escape: line 1 column 210 (char 209)
Error parsing JSON: Expecting ',' delimiter: line 1 column 31 (char 30)
Error parsing JSON: Expecting ',' delimiter: line 1 column 115 (char 114)
Error parsing JSON: Expecting ',' delimiter: line 1 column 441 (char 440)
Error parsing JSON: Expecting ',' delimiter: line 1 column 653 (char 652)
Error parsing JSON: Expecting ',' delimiter: line 1 column 208 (char 207)
Error parsing JSON: Expecting ',' delimiter: line 1 column 189 (char 188)
Error parsing JSON: Expecting ',' delimiter: line 1 column 432 (char 431)
Error parsing JSON: Invalid \escape: line 1 column 286 (char 285)
Error parsing JSON: Expecting ',' delimiter: line 1 column 172 (char 171)
Error parsing JSON: Invalid \escape: line 1 column 519 (char 518)
Error parsing JSON: Expecting ',' delimiter: line 1 column 763 (char 762)
Error parsing JSON: Expecting ',' delimiter: line 1 column 208 (char 207)
Error parsing JSON: Expecting ',' delimiter: line 1 column 32 (char 31)
Error parsing JSON: Expecting ',' delimiter: line 1 column 299 (char 298)
Error parsing JSON: Invalid \escape: line 1 column 31 (char 30)
Error parsing JSON: Expecting ',' delimiter: line 1 column 219 (char 218)
Error parsing JSON: Expecting ',' delimiter: line 1 column 237 (char 236)
Error parsing JSON: Expecting ',' delimiter: line 1 column 215 (char 214)
Error parsing JSON: Expecting ',' delimiter: line 1 column 183 (char 182)
Error parsing JSON: Expecting ',' delimiter: line 1 column 102 (char 101)
Error parsing JSON: Expecting ',' delimiter: line 1 column 160 (char 159)
Error parsing JSON: Expecting ',' delimiter: line 1 column 184 (char 183)
Error parsing JSON: Expecting ',' delimiter: line 1 column 74 (char 73)
Error parsing JSON: Expecting ',' delimiter: line 1 column 264 (char 263)
Error parsing JSON: Invalid \escape: line 1 column 201 (char 200)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Expecting ',' delimiter: line 1 column 86 (char 85)
Error parsing JSON: Expecting ',' delimiter: line 1 column 545 (char 544)
Error parsing JSON: Expecting ',' delimiter: line 1 column 60 (char 59)
Error parsing JSON: Expecting ',' delimiter: line 1 column 401 (char 400)
Error parsing JSON: Expecting ',' delimiter: line 1 column 99 (char 98)
Error parsing JSON: Expecting ',' delimiter: line 1 column 36 (char 35)
Error parsing JSON: Invalid \escape: line 1 column 180 (char 179)
Error parsing JSON: Invalid \escape: line 1 column 174 (char 173)
Error parsing JSON: Expecting ',' delimiter: line 1 column 211 (char 210)
Error parsing JSON: Invalid \escape: line 1 column 327 (char 326)
Error parsing JSON: Expecting ',' delimiter: line 1 column 112 (char 111)
Error parsing JSON: Expecting ',' delimiter: line 1 column 297 (char 296)
Error parsing JSON: Expecting ',' delimiter: line 1 column 173 (char 172)
Error parsing JSON: Expecting ',' delimiter: line 1 column 97 (char 96)
Error parsing JSON: Expecting ',' delimiter: line 1 column 78 (char 77)
Error parsing JSON: Expecting ',' delimiter: line 1 column 63 (char 62)
Error parsing JSON: Expecting ',' delimiter: line 1 column 324 (char 323)
Error parsing JSON: Expecting ',' delimiter: line 1 column 464 (char 463)
Error parsing JSON: Expecting ',' delimiter: line 1 column 446 (char 445)
Error parsing JSON: Expecting ',' delimiter: line 1 column 93 (char 92)
Error parsing JSON: Expecting ',' delimiter: line 1 column 67 (char 66)
Error parsing JSON: Expecting ',' delimiter: line 1 column 486 (char 485)
Error parsing JSON: Expecting ',' delimiter: line 1 column 788 (char 787)
Error parsing JSON: Expecting ',' delimiter: line 1 column 203 (char 202)
Error parsing JSON: Expecting ',' delimiter: line 1 column 158 (char 157)
Error parsing JSON: Expecting ',' delimiter: line 1 column 495 (char 494)
Error parsing JSON: Expecting ',' delimiter: line 1 column 173 (char 172)
Error parsing JSON: Expecting ',' delimiter: line 1 column 80 (char 79)
Error parsing JSON: Expecting ',' delimiter: line 1 column 376 (char 375)
Error parsing JSON: Expecting ',' delimiter: line 1 column 84 (char 83)
Error parsing JSON: Expecting ',' delimiter: line 1 column 97 (char 96)
Error parsing JSON: Expecting ',' delimiter: line 1 column 65 (char 64)
Error parsing JSON: Expecting ',' delimiter: line 1 column 421 (char 420)
Error parsing JSON: Expecting ',' delimiter: line 1 column 156 (char 155)
Error parsing JSON: Expecting ',' delimiter: line 1 column 175 (char 174)
Error parsing JSON: Expecting ',' delimiter: line 1 column 170 (char 169)
Error parsing JSON: Expecting ',' delimiter: line 1 column 70 (char 69)
Error parsing JSON: Expecting ',' delimiter: line 1 column 673 (char 672)
Error parsing JSON: Expecting ',' delimiter: line 1 column 222 (char 221)
Error parsing JSON: Expecting ',' delimiter: line 1 column 65 (char 64)
Error parsing JSON: Expecting ',' delimiter: line 1 column 306 (char 305)
Error parsing JSON: Expecting ',' delimiter: line 1 column 498 (char 497)
Error parsing JSON: Expecting ',' delimiter: line 1 column 346 (char 345)
Error parsing JSON: Expecting ',' delimiter: line 1 column 149 (char 148)
Error parsing JSON: Expecting ',' delimiter: line 1 column 111 (char 110)

,id,keywords,AllKeywords
0,862,"[{""id"": 931, ""name"": ""jealousy""}, {""id"": 4290,...","friendship,new toy,rivalry,boy"
1,8844,"[{""id"": 10090, ""name"": ""board game""}, {""id"": 1...",
2,15602,"[{""id"": 1495, ""name"": ""fishing""}, {""id"": 12392...","fishing,best friend,duringcreditsstinger,old men"
3,31357,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","interracial relationship,based on novel,single..."
4,11862,"[{""id"": 1009, ""name"": ""baby""}, {""id"": 1599, ""n...","baby,aging,mother daughter relationship,gyneco..."

In [24]:
print((keywords['AllKeywords'] == '').sum())

15426

In [25]:
movies_with_keywords = pd.merge(movies_with_keywords, keywords, on='id', how='inner')
movies_with_keywords.drop(['keywords', ], axis=1, inplace=True)
movies_with_keywords.head()

,id,title,AllGenres,AllKeywords
0,862,Toy Story,"Animation,Comedy,Family","friendship,new toy,rivalry,boy"
1,8844,Jumanji,"Adventure,Fantasy,Family",
2,15602,Grumpier Old Men,"Romance,Comedy","fishing,best friend,duringcreditsstinger,old men"
3,31357,Waiting to Exhale,"Comedy,Drama,Romance","interracial relationship,based on novel,single..."
4,11862,Father of the Bride Part II,Comedy,"baby,aging,mother daughter relationship,gyneco..."

In [26]:
movies_with_keywords.shape[0]

46415

In [27]:
movies_with_keywords.isnull().sum().sort_values()

id             0
title          0
AllGenres      0
AllKeywords    0
dtype: int64

In [28]:
movies_with_keywords.duplicated(subset=['id', ]).sum()

986

In [29]:
movies_with_keywords = movies_with_keywords.drop_duplicates(subset=['id', ])
movies_with_keywords.duplicated(subset=['id', ]).sum()

0

In [30]:
movies_with_keywords.shape[0]

45429

## Now process ratings

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  object
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ MB

In [32]:
ratings.isnull().sum().sort_values()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [33]:
ratings.duplicated(subset=['userId', 'movieId']).sum()

0

## Now I have all the movies with keywords
### Create some small datasets
#### 1. selected ratings + rated movies = recommendations with history

In [34]:
unique_movie_id_keywords = movies_with_keywords['id'].unique().tolist()
len(unique_movie_id_keywords)

45429

In [35]:
ratings_for_history = ratings[ratings['movieId'].isin(unique_movie_id_keywords)]
ratings_for_history = ratings_for_history.reset_index(drop=True)
print(ratings_for_history.shape[0])
ratings_for_history.head()

44989

   userId movieId  rating   timestamp
0       1    1371     2.5  1260759135
1       1    1405     1.0  1260759203
2       1    2105     4.0  1260759139
3       1    2193     2.0  1260759198
4       1    2294     2.0  1260759108

#### 2. Create a subset of movies with keywords
#### Also the corresponding ratings

In [36]:
sample_ids = np.random.choice(unique_movie_id_keywords, size=5000, replace=False)
movies_5000 = movies_with_keywords[movies_with_keywords['id'].isin(sample_ids)]
movies_5000 = movies_5000.reset_index(drop=True)
movies_5000.head()

,id,title,AllGenres,AllKeywords
0,11860,Sabrina,"Comedy,Romance","millionaire,fusion,long island,paris"
1,5,Four Rooms,"Crime,Comedy",
2,451,Leaving Las Vegas,"Drama,Romance","individual,los angeles,prostitute,attempted su..."
3,9263,Now and Then,"Comedy,Drama,Family","gynecologist,female friendship,photocopier,wom..."
4,17015,Persuasion,"Drama,Romance","captain,napoleonic wars,old flame,admiral"

In [37]:
ratings_for_history_small = ratings[ratings['movieId'].isin(sample_ids)]
ratings_for_history_small = ratings_for_history_small.reset_index(drop=True)
print(ratings_for_history_small.shape[0])
ratings_for_history_small.head()

4371

   userId movieId  rating   timestamp
0       1    1371     2.5  1260759135
1       2      17     5.0   835355681
2       2     144     3.0   835356016
3       2     248     3.0   835355896
4       2     265     5.0   835355697

### Export those datasets

In [38]:
movies_with_keywords.to_csv('data/kaggle_movie/movies_with_keywords.csv', index=False)
movies_5000.to_csv('data/kaggle_movie/movies_5000.csv', index=False)
ratings_for_history.to_csv('data/kaggle_movie/ratings_for_history.csv', index=False)
ratings_for_history_small.to_csv('data/kaggle_movie/ratings_for_history_small.csv', index=False)